/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN RESET */

@import "libs/responsive.scss";
@import "libs/mixins.scss";

$theme-color: #00a3e0;
$background-color : #222;
$text-color: #FFF;
$font-title: 'Roboto Slab', serif;

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    color: $text-color;
}

html, body, input, textarea {
    box-sizing: border-box;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $background-color;
    color: #FFF;
    
    .links {
        align-self: flex-start;
        position: fixed;
        right: 10px;
        
        li {
          text-align: center;
          padding: 10px 0;
        }

        a {
            text-decoration: none;
            font-size: 1.3em;
            color: #ccc;

            &:hover {
              color: #AAA;
            }
        }
    }
}

#nav-links-list {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 20px 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(34,34,34, 0.9);
  
}


#btn-mobile-menu {
    display: block;
    width: 60px;
    height: 60px;
    background-color: $background-color;
    border: none;
    border-radius: 5px;
    z-index: 20;

    span {
        display: block;
        width: 50%;
        height: 2px;
        background-color: #FFF;
        margin: 7px auto;
    }

    &:hover {
        background-color: lighten($color: #000000, $amount: 30);
        cursor: pointer;
    }
}

// ! *********************
// ! Developpement ONLY !! 
.navbar-collapse {
    display: none;
}
// ! ********************

.logo {

    text-align: center;
    
    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        margin: auto;
        width: 60px;
        height: auto;
        margin-bottom: 5px;
    }

    p {
        font-family: $font-title;
        font-weight: 700;
        letter-spacing: 0.7px;
    }

    span {
        display: block;
        font-size: 0.75rem;
        margin-top: 3px;
        font-weight: 300;
    }
}

.container-banner {
    padding: 0 15px;
}

.title-page {
    display: block;
    text-align: center;
    font-family: $font-title;
    font-size: 1.5rem;
    margin: 20px auto;
    
}

.banner {
    text-align: center;
    padding: 30px 0;
    color: #FFF;
    background: linear-gradient(rgba(34, 34, 34, 1), rgba(34,34,34, 0.85),rgba(34, 34, 34, 1)),
    url('../img/assets/jaguar_1920.jpg') center top / cover no-repeat;

    h1 {
        font-size: 1.2rem;
        margin: 15px 0;
    }
    
    img {
        
        width: 80%;
        max-width: 600px;
        object-fit: contain;
        height: auto;
    }
    
    p {
        max-width: 800px;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5rem;
        margin: 20px auto;
    }

    
}

.container-fullwidth {
    width: 100%;
}

.container-small {
    max-width: 1400px;
    margin: 0 auto 50px auto;
    padding: 0 15px;

    @include line-center($size: 60%, $margin: 40px);
}

.img-fullwidth {
    margin: 20px 0;
    
    img {
        width: 100%;
    }
}

.bloc {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    letter-spacing: 1px;
    margin-top: 100px;

    &:first-child{
        margin-top: 20px;
    }

}

.btn {
    display: block;
    max-width: 200px;
    padding: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: inherit;
    text-decoration: none;
    border: 1px solid $theme-color;
    text-transform: uppercase;
    transition: .2s;
    background-color: rgba(34,34,34, 0.6);
    text-align: center;
    
    &:hover {
        background-color: $theme-color;
    }
}


.bloc-header {
    font-family: $font-title;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
    
    @media #{$large-down} {
        @include line-center($size: 70px, $margin: 30px);
     }
}

.bloc-body {
    p {
        line-height: 1.4rem;
        text-indent: 1.5rem;
        margin: 10px 0;
        text-align: justify;
    }
}

.bloc-img {
    width: 70%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.bloc-footer {
    margin: 0 auto;
}

.bloc-list {

    letter-spacing: 0.7px;
    font-weight: 700;
    max-width: 300px;
    margin: 0 auto;

    li {
        display: flex;
        align-items: center;
        margin: 30px 0;
    }

    li:last-child {
        margin-bottom: 0;
    }

    .icon {
        width: 35px;
        height: 35px;
        color: $theme-color;
        margin-right: 20px;
    }
}

.line-before {
    @include line-before($size: 40%, $margin: 20px);
}

.google-map-frame {
    width: 100%;
    height: 450px;
}

.container-services {
    padding: 0 20px;
    margin: auto;
    max-width: 1400px;
}

.bloc-service:nth-child(-n+5) {
    //select 5 first child
    @media #{$medium-down} {
        @include  line-center($size: 70px, $margin: 30px);
    }
}

.bloc-service-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px auto 0 auto;
}

.service-content {
    text-align: center;
}

.service-body {
    letter-spacing: 1.3px;
    line-height: 1.2rem;
    text-align: left;
}

.service-title {
    font-family: $font-title;
    font-size: 1.1rem;
    margin: 20px 0;
}

.more {
    @extend .btn;
    margin-top: 20px;
    text-align: center;
    max-width: 150px;
    
}

.container-footer {
    padding: 0 20px;

}

.footer-bloc {
    @media #{$large-down} {
        @include line-center($size: 60%, $margin:40px);
    }
}

.footer-logo {

    img {
        display: block;
        width: 130px;
        margin: 20px auto;
    }
}

.footer-title {
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
    @media #{$large-down} {
        @include line-center($size: 50px, $margin: 20px);
    }
}

.footer-content {

    font-size: 1.1rem;
    text-align: center;

    address, p{
        display: block;
        margin: 10px 0;
        text-decoration: none;
        font-style: normal;
        line-height: 1.5rem;
    }
    span {
        display: block;
    }

    a {
        text-decoration: none;
        color: #FFF;

        &:hover {
            text-decoration: underline;
        }
    }

}

.creation {
    font-size: 0.9rem;
    color: #999;
    text-align: center;
    padding: 10px 20px;
       
    a {
        text-decoration: none;
        color: #BBB;

        &:hover {
            text-decoration: underline;
        }
    }
}

.site-informations {
    .footer-content a {
        display: block;
        padding: 5px 0;
    }
}

.appointment {
    margin-top: 30px;
    .btn {
        margin: 0 auto;
    }
}

.car-image-zoom {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 250px;
}

.car-thumb-img {
    width: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.car-bloc {

    margin: 30px 0;

    .img-more {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    
    &:hover {
        
        .img-more{
            display: block;
            font-size: 1.3rem;
            padding: 15px 25px;
            border: #FFF solid 1px;

            &:hover {
                background-color: $theme-color;
                border-color: $theme-color;
            }
        }

        .car-thumb-img {
            transform: scale(1.2);
            max-width: inherit;
            overflow: hidden;
            opacity: .5;
        }

        .car-thumb-price {
            background-color: darken($color: $theme-color, $amount: 10);
            
            &::before {
                border-right: darken($theme-color, 10) solid 20px;
            }
        }
    }
}

.car-thumb-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

.car-thumb-price {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $theme-color;
    height: 30px;
    padding-right: 10px;
    padding-top: 2px;
    text-decoration: none;
    color: inherit;
    
    &::before {
        content: '';
        display: inline-block;
        border-top: $background-color solid 32px;
        border-right: $theme-color solid 20px;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -2px;
    }
}

.car-price {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: $theme-color;
    // height: 50px;
    padding-right: 10px;
    padding-top: 2px;

    &::before {
        content: '';
        display: inline-block;
        border-top: $background-color solid 52px;
        border-right: $theme-color solid 20px;
        vertical-align: middle;
        margin-right: 40px;
        margin-top: -2px;
    }

}

.car-thumb-title {
    font-size: 1.1rem;
}

.car-thumb-link {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        text-decoration: underline;
    }
}

.car-thumb-footer {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #555;
        flex: none;
        margin-bottom: 5px;
    }

    li {
        display: flex;
        align-items: center;
    }
    
    .car-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        color: $theme-color;
    }
}

.car-show-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 10px 0;
}

.car-infos-table {
    width: 100%;
    margin: 10px 0;
    
    tr {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #888;
    }
    
    th, td {
        padding: 12px 0;
        
    }

}

.car-show {
    article {
        margin: 20px 0;
        
    }
}

.car-show-bloc {
   margin: 20px 0;
}

.car-show-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: $font-title;
    font-size: 1.1rem;

    &::before, &::after {
        content: " - ";
    }
}

.car-option {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.car-option-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.form-group {
    margin: 20px 0;
}
.form-label {
    width: 120px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.form-input {
    height: 30px;
    border: none;
    width: 100%;
    background-color: #DDD;
    border: 1px solid transparent;
    transition: all .2s;
    
    &:focus {
        background-color: #FFF;
        border: $theme-color 2px solid;
        
        // box-shadow: #777 0 0 10px;
    }
}

.textarea {
    height: 100px;
}

.btn-form {
    max-width: unset;
    width: 100%;
    margin: 0;
}



@media #{$medium-up} {
    .topbar {
        
        .logo {
            img {
                width: 100px;
            }
            
            p {
                font-size: 1.3rem;
            }

            span {
                margin-top: 5px;
                font-size: 0.98rem;
            }
        }
    }

    .container-services {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .bloc-service {
        margin: 20px 15px;
        width: 230px;
        background-color: lighten($color: $background-color, $amount: 4);
        padding: 20px;
        
        &:hover {
            .bloc-service-img {
                background-color: #222;
                opacity: .6;
            }
        }
    }
    
    .bloc-service-img {
        width: 100%;
        margin-top: 0;
        transition: opacity .2s ease-in-out;
    }

    .service-title {
        text-align: left;
        @include line-left($size: 30px, $margin: 20px)
    }

    .service-body {
        text-align: left;
    }

    .ads {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }

    .car-bloc {
        min-width: 300px;
        flex-grow: 1;
    }


    
    

}

@media #{$large-up} {
    .topbar {
        padding: 25px 45px;
        .links  {
          align-self: unset;
          position: unset;
        }
    }

    #nav-links-list {
      position: unset;
      display: flex;
      width: auto;
      height: auto;
      justify-content: space-between;
      padding: 0;

        a {
            color: inherit;
            text-decoration: none;
            transition: .2s;
            padding: 15px;
            letter-spacing: 0.7px;
            font-size: inherit;

            &:hover {
                color: $theme-color;
            }
        }
    }
    
    #btn-mobile-menu {
        display: none;
    }

    #link-appointment {
        margin-left: 5px;
        
        a {
            background-color: $theme-color;
            border-radius: 5px;
            color: #FFF;
            
            &:hover {
                background-color: darken($theme-color, $amount: 10);
            }
        }

    }

    .bloc {
        max-width: 1100px;
        display: flex;
        margin-top: 100px;
        align-items: center;
        
        .bloc-header {
            margin-top: 0;
            text-align: left;
            font-size: 1.6rem;
            display: block;

            @include line-left($size: 70px, $margin: 30px)
        }
        
        .bloc-body {
            p {
                line-height: 1.4rem;
                text-align: left;
            }

            @include line-left($size: 70px, $margin: 30px);
        }

        .bloc-img {
            max-width: unset;
        }

    }

    .bloc-left {
        .bloc-content {
            margin-left: 50px;
        }

        .bloc-img {
            width: 300px;
        }
    }
    .bloc-right {

        .bloc-content {
            margin-right: 50px;
            order: 1;
        }

        .bloc-img {
            width: 400px;
            order: 2;
            opacity: .80;
        }

    }

    .bloc-list {
        margin: 0;
    }

    .hotrod{
        background:  linear-gradient(rgba(34, 34, 34, 1), rgba(34,34,34, 0.90),rgba(34, 34, 34, 1)),
                    url(../img/assets/hotrod_1920.jpg) center center / cover no-repeat;
    }

    .container-services {
        margin: 0 auto;
    }

    .bloc-service {
        width: 300px;
    }

    .container-footer {
        display: flex;
        padding: 30px 15px;
        align-items: center;
        justify-content: center;
    }
    
    .footer-informations {
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
    }

    .footer-bloc {
        margin: 0 50px;
        height: 300px;
        position: relative;
    }
    
    .footer-title {
        text-align: left;
        font-size: 1.2rem;

        @include line-left($size: 60px, $margin: 15px);
    }
    
    .footer-content {
        text-align: left;
        font-size: 1rem;
    }

    .footer-logo {
        display: block;
        margin: 0;

        img {
            width: 200px;
            height: auto;
        }
    }

    .address .btn, .schedules .btn {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
    }


    

}







